
https://fonts.google.com/specimen/Sorts+Mill+Goudy?selection.family=Sorts+Mill+Goudy:400,400i

@font-face {
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    src: url(fonts/'SortsMillGoudy-Regular.ttf') format('truetype');
    
}
