body {
	color: darkslategray;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 120%;
	border: 5px ridge brown;
	padding: 6px;
    width: 100%;
}

 
@media only screen and (min-width:40em) {

 /** #threeshoepic {
    width:100%;
  

  #layer1 {
     width:100%; }

  #layer2 {
  width:100%; }     


  #layer3 {
   width:100%;}

**/
  img {
  min-width: 40%;
  float:left;
  padding: 2em;}

h1 {
  font-size: 3.5em;
}

  .floatleft {
    min-width: 30%;
  float:left;
  margin-right: 2em;
  padding: 2em;}

  /** em {
  font-family: serif; font-size:120%;}
}
 **/

---------------------------
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}

--------------------------



#main {
    box-shadow: 3px 3px 6px rgba(54,6,0,0.4);
   /*-webkit-box-shadow: 3px 3px 6px rgba(54,6,0,0.4);
-moz-box-shadow: 3px 3px 6px rgba(54,6,0,0.4); */
    
}
#menu {
    border: 6px double blue;
    border-radius: 6px ; 
       border-radius: 60px/35px ; 

}

#menu a {
  /* border-radius: 6px/10px ;
      border-radius: 6px/5px; */
    height: 15px;
    border: 10 px dotted blue;
 
 
/*width:160px;*/
-moz-border-radius: 25px 10px / 10px 25px;
border-radius: 25px 10px / 10px 25px;

}

#main > p {margin: 10px;
padding: 2px;}

span {
    box-shadow: 2px 2px 3px 2px rgba(97,65,39,0.4);
  /*  -webkit-box-shadow: 2px 2px 3px 2px rgba(97,65,39,0.4);
    -moz-box-shadow: 2px 2px 3px 2px rgba(97,65,39,0.4); 
*/
}



.other {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7c7dc+33,85b2d3+81 */
background: rgb(167,199,220); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(167,199,220,1) 33%, rgba(133,178,211,1) 81%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(167,199,220,1) 33%,rgba(133,178,211,1) 81%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(167,199,220,1) 33%,rgba(133,178,211,1) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

.other1 {
	height: 250px;
	background-image: url(../images/220px-White_converse_heel.JPG);
	background-repeat: no-repeat;
    background-size: cover;
}


.circle {
    border: 2px solid red;
    background-color: #FFFFFF;
    height: 100px;
    border-radius:50%;
    width: 100px;
}

i.first {
   display: inline-block;
    padding: 8px;
}

.external {
    color: cyan;
}
.external::after {
    content: url(https://www.converse.com/us/en_us/pw/converse-chuck-taylor-2-shoes/pirZoi3Zpsc); padding: 5px;
    
}

.floatleft {
    float:left;
    margin-right: 2em;
    z-index: 0; 
}

#threeshoepic {
    overflow: auto;
    width:100%;
    
}
#layer1 {
 position: relative; width:100%; top: 70%; left: 50px;
    
}
#layer2 {
 position: relative; width:100%; top: 30%; left: 210px;
   z-index: 1;     
    
}

#layer3 {
   position: relative; width:100%; top: 20%; left: 380px;
    z-index: 2; 
    
}









