body {
    color: darkslategray;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 120%;
}


#main {
    box-shadow: 3px 3px 6px rgba(54,6,0,0.4);
   -webkit-box-shadow: 3px 3px 6px rgba(54,6,0,0.4);
-moz-box-shadow: 3px 3px 6px rgba(54,6,0,0.4);
    
}

#main > p {margin: 10px;}


